{{> layout/header}}
    <div class="card bg-dark text-white container">
        <div class="card-body">고객센터</div>
      </div>

      <div class="comucontainer mt-3 container" >
        <div class="help">
            <h2>문의 게시판</h2>
        </div>
        <div class="question">
            <button type="button" class="btn btn-primary" onclick="">문의글 작성하기</button>
        </div>
        
        
        <table class="table">
          <thead>
            <tr>
              <th>NO.</th>
              <th>제목</th>
              <th>날짜</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td><a href="#">이력서 등록 메뉴얼</a></td>
              <td>2020.09</td>
            </tr>
            <tr>
              <td>2</td>
              <td><a href="#">기업 등록 메뉴얼</a></td>
              <td>2021.09</td>
            </tr>
            <tr>
              <td>3</td>
              <td><a href="#">증명사진 주의사항</a></td>
              <td>2022.09</td>
            </tr>
          </tbody>
        </table>
      </div>
      

      <div class="comucontainer mt-3 container">
        <div class="help">
            <h2>자주 찾는 도움말</h2>
            <div></div>
        </div>
        
        <table class="table">
          <thead>
            <tr>
              <th>NO.</th>
              <th>제목</th>
              <th>날짜</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td><a href="#">이력서 등록 메뉴얼</a></td>
              <td>2020.09</td>
            </tr>
            <tr>
              <td>2</td>
              <td><a href="#">기업 등록 메뉴얼</a></td>
              <td>2021.09</td>
            </tr>
            <tr>
              <td>3</td>
              <td><a href="#">증명사진 주의사항</a></td>
              <td>2022.09</td>
            </tr>
          </tbody>
        </table>
      </div>
      
      
      {{> layout/footer}}