{{> layout/header}}
<form action="/compinfoDetail/{id}" method="get">
    <div class="상세보기바디 compdetail_body">
        <div class="상세보기틀 form">
            <section class="상단 sectop">
                <div class="기업이름텍스트 sectoptitle">
                    <div class="메인타이틀 maintitle">기업 이름</div>
                </div>
                <div class="상단오른쪽 top_right">
                    <button type="button" class="수정하기버튼 btn updatebtn">수정하기</button>
                    <button type="button" class="북마크 버튼 btn scrap_icon bookmarkbtn">
                        <i class="fas fa-star"></i>
                    </button>
                </div>
            </section>
            <section class="main">
                <div class="왼쪽화면틀 leftform">
                    <div class="왼쪽상단상단 left_top_top">
                        <div class="synopsis">기업개요</div>
                    </div>
                    <div class="왼쪽중단 left_mid">
                        <div class="왼쪽중단왼쪽 left_midleft"><img class="compdetail_mainpic" src="../images/comp1.jpg">
                        </div>
                        <div class="왼쪽중단오른쪽 infodetails">
                            <dl>
                                <dt class="내용1">
                                    기업명
                                <dd class="내용1">{{company.CompanyName}}</dd>
                                </dt>
                                <dt class="내용1">
                                    설립연도
                                <dd class="내용1">1999년</dd>
                                </dt>
                                <dt class="내용1">
                                    주소
                                <dd class="내용1">{{company.address}}</dd>
                                </dt>
                                <dt class="내용1">
                                    전화번호
                                <dd class="내용1">{{company.phoneNum}}</dd>
                                </dt>
                                <dt class="내용1">
                                    이메일
                                <dd class="내용1">{{company.email}}</dd>
                                </dt>
                                <dt class="내용1">
                                    홈페이지
                                <dd class="내용1">http://www.kgc.co.kr</dd>
                                </dt>
                                <dt class="내용1">
                                    분야
                                <dd class="내용1">제조, 도매, 전자상거래</dd>
                                </dt>
                            </dl>
                        </div>
                    </div>

                    <div class="왼쪽중단하단 left_midbottom">


                    </div>

                    <div class="왼쪽하단">
                        <div class="왼쪽하단타이틀 bottom_title">
                            채용중인공고
                        </div>
                        {{#announcements}}
                        <div class="bottom_ann">
                            <a class="card fourcard_form" href="/annDetail/{id}">
                                <img class="Card_fourcard" src="./images/comp4.jpg" alt="Card image" />
                                <div class="card-body">
                                    <h4 class="card-title">{{title}}</h4>
                                    <p class="card-text">{{workType}}</p>
                                </div>
                            </a>
                        </div>
                        <a class="card fourcard_form" href="/annDetail/{id}">
                            <img class="Card_fourcard" src="./images/comp4.jpg" alt="Card image" />
                            <div class="card-body">
                                <h4 class="card-title">{{title}}</h4>
                                <p class="card-text">{{workType}}</p>
                            </div>
                        </a>
                    </div>
                    <a class="card fourcard_form" href="/annDetail/{id}">
                        <img class="Card_fourcard" src="./images/comp4.jpg" alt="Card image" />
                        <div class="card-body">
                            <h4 class="card-title">{{title}}</h4>
                            <p class="card-text">{{workType}}</p>
                        </div>
                    </a>
                </div>
        </div>
        {{/announcements}}



    </div>
    </div>
    </section>
    </div>
    </div>
</form>
{{> layout/footer}}
