{{> layout/header}}

<form action="/company/compinfoUpdate" method="post" enctype="multipart/form-data">
    <div class="상세보기바디 compdetail_body">
        <div class="상세보기틀 form">
            <section class="상단 sectop">
                <div class="기업이름텍스트 sectoptitle">
                    <div class="메인타이틀 maintitle">
                        기업 정보 등록
                    </div>
                </div>
            </section>
            <section class="main">
                <div class="왼쪽화면틀 leftform">
                    <div class="왼쪽상단상단 left_top_top">
                        <div class="synopsis">기업개요</div>
                    </div>
                    <div class="왼쪽중단 left_mid">
                        <div class="왼쪽중단왼쪽 left_midleft">
                            <div class="compdetail_mainpicform">
                                <img class="compdesave_mainpic" id="preview" src="../images/comp1.jpg">
                                <input type="file" class="form-control compdetail_filebtn" placeholder="Enter pic"
                                    onchange="changePic(event)" name="pic">
                                <div id="fileMessage">이미지를 등록해주세요</div>

                            </div>
                        </div>
                        <div class="왼쪽중단오른쪽 infodetails">
                            <dl>
                                <dt class="내용1">
                                    기업명
                                <dd class="내용1">
                                    <input type="text" class="container compinfo_detail_save" id="" name="companyName"

                                        placeholder="기업이름을 입력해 주세요">
                                </dd>
                                </dt>
                                <dt class="내용1">
                                    설립연도
                                <dd class="내용1">
                                    <input type="number" class="container compinfo_detail_save" id="yearInput"
                                        name="establishment" placeholder="설립연도를 4자리를 입력해 주세요" min="1500" max="2099" step="1"
                                        pattern="\d{4}" title="4자리 연도를 입력하세요" oninput="validateInput(this)">
                                </dd>
                                </dt>
                                <dt class="내용1">
                                    주소
                                <dd class="내용1">

                                    <input class="compinfo_save_add" type="button" value="주소 찾기" onclick="Postcode()">

                                    <input type="text" class="container compinfo_detail_save" id="address"
                                        name="address" readonly>
                                    <br><input type="text" class="container compinfo_detail_save" id="addressDetail"
                                        name="addressDetail" placeholder="상세 주소를 입력해주세요">
                                </dd>
                                </dt>
                                <dt class="내용1">
                                    전화번호
                                <dd class="내용1">
                                    <input type="text" class="container compinfo_detail_save" id="addressDetail"
                                        name="phoneNum" placeholder="전화번호를 입력해주세요">
                                </dd>
                                </dt>
                                <dt class="내용1">
                                    이메일
                                <dd class="내용1">
                                    <input type="text" class="container compinfo_detail_save" id="addressDetail"
                                        name="email" placeholder="email을 입력해주세요">
                                </dd>
                                </dt>
                                <dt class="내용1">
                                    홈페이지
                                <dd class="내용1">
                                    <input type="text" class="container compinfo_detail_save" id="addressDetail"
                                        name="homepage" placeholder="홈페이지를 입력해주세요">
                                </dd>
                                </dt>
                                <dt class="내용1">
                                    분야
                                <dd class="내용1">
                                    <input type="text" class="container compinfo_detail_save" id="addressDetail" name=""
                                        placeholder="분야를 입력해주세요">
                                </dd>
                                </dt>
                            </dl>
                        </div>
                    </div>
                    <div class="상단오른쪽 top_right">
                        <button type="submit" class="btn btn-primary compdetail_savebtn">등록완료</button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</form>


{{> layout/footer}}
