{{> layout/header}} 


    <div class="상세보기바디 compdetail_body">
        <div class="상세보기틀 form">
            <section class="상단 sectop">
                <div class="기업이름텍스트 sectoptitle">
                    <div class="메인타이틀 maintitle">이력서</div>
                </div>
                <form action="" method="post">
                {{#sessionCompany}}
                <div class="상단오른쪽 top_right">
                    <button type="button" class="btn updatebtn">수정하기</button>
                    {{#isBookmarked}}
                    <button type="button" class="btn scrap_icon bookmarkbtn toggle-orange1 orange">
                        <i class="fas fa-star"></i>
                    </button>
                    {{/isBookmarked}}
                    {{^isBookmarked}}
                    <button type="button" class="btn scrap_icon bookmarkbtn toggle-orange1">
                        <i class="fas fa-star"></i>
                    </button>
                    {{/isBookmarked}}
                    
                </div>
                <input id="resumeIndex" type="hidden" value="{{ res.index }}" />
                <input id="companyIndex" type="hidden" value="{{ sessionCompany.index }}" />
                {{/sessionCompany}}
                {{^sessionCompany}}
                <div class="상단오른쪽 top_right">
                    <button type="button" class="btn updatebtn">수정하기</button>
                </div>
                {{/sessionCompany}}
            </form>
            </section>
            <section class="main">
                <div class="왼쪽화면틀 leftform">
                    <div class="왼쪽상단상단 left_top_top">
                        <div class="synopsis">{{#res.title}}{{res.title}}{{/res.title}}</div>
                    </div>  
                    <div class="왼쪽중단 left_mid">
                        <div class="왼쪽중단왼쪽 left_midleft"><img class="user_pic" src="{{#res.pic}}{{res.pic}}{{/res.pic}}"></div>
                        <div class="왼쪽중단오른쪽 infodetails">
                            <dl>
                                <dt class="내용1">
                                이름
                                    <dd class="내용1">{{#user.username}}{{user.username}}{{/user.username}}</dd>
                                </dt>
                                <dt class="내용1">
                                생년월일
                                    <dd class="내용1" >{{#user.birthday}}{{user.birthday}}{{/user.birthday}}</dd>
                                </dt>
                                <dt class="내용1" >
                                주소
                                    <dd class="내용1" >{{#user.address}}{{user.address}}{{/user.address}}</dd>
                                </dt>
                                <dt class="내용1" >
                                연락처
                                    <dd class="내용1" >{{#user.phoneNumber}}{{user.phoneNumber}}{{/user.phoneNumber}}</dd>
                                </dt>
                                <dt class="내용1" >
                                이메일
                                    <dd class="내용1" >{{#user.email}}{{user.email}}{{/user.email}}</dd>
                                </dt>
                                <dt class="내용1" >
                                홈페이지
                                    <dd class="내용1" >{{#res.homepage}}{{res.homepage}}{{/res.homepage}}</dd>
                                </dt>
                            </dl>                                       
                        </div>                      
                    </div>
                    
                    <div class="왼쪽중단하단 left_midbottom">
                        <div class="left_midbottomfont">학력</div>
                        <div class="내용1 left_textarea">{{#res.education}}{{res.education}}{{/res.education}}</div>
                        <div class="left_midbottomfont">경력</div>
                        <div class="내용1 left_textarea">{{#res.experience}}{{res.experience}}{{/res.experience}}</div>
                    </div>                  
                    
                    <div class="왼쪽하단">
                        <div class="left_midbottomfont">기술스택</div>
                        {{#skills}}
                        <div class="내용1 left_textarea">{{skill.skillName}}</div>
                        {{/skills}}
                        <div class="left_midbottomfont">자소서</div>
                        <div class="내용1 left_textarea">{{#res.introduce}}{{res.introduce}}{{/res.introduce}}</div>
                    </div>
                </div>
                <div>
                    <div class="사이드바 sidebar">
                        <div class="타이틀">
                            내가 북마크한 기업
                            <div class="리스트">시간 나면 할 곳</div>
                            <div class="리스트">나중에 고쳐야함</div>
                            <div class="리스트">1번기업</div>
                            <div class="리스트">2번기업</div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{{> layout/footer}}
