{{> layout/header}}

<div class="container mt-3">
    <h2>이력서 등록</h2>
    <form action="/resSave" method="post">
      <div class="mb-3">
        <label for="title">이력서 제목:</label>
        <input type="title" class="form-control" id="title" name="title" value="" required>
      </div>
      <div class="mb-3">
        <label for="name">이름:</label>
        <input type="text" class="form-control" id="name" name="name" value="">
      </div>
      <div class="mb-3">
        <label for="address">주소:</label>
        <input type="text" id="postcode" placeholder="우편번호">
        <input type="button" onclick="DaumPostcode()" value="우편번호 찾기"><br>
        <input type="text" id="address" placeholder="주소"><br>
        <input type="text" id="detailAddress" placeholder="상세주소">
        <input type="text" id="extraAddress" placeholder="참고항목">
      </div>
      <div class="mb-3">
        <label for="phoneNum">전화번호:</label>
        <input type="number" class="form-control" id="phoneNum" name="phoneNum" value="">
      </div>
      <div class="mb-3">
        <label for="email">이메일:</label>
        <input type="email" class="form-control" id="email" name="email" value="">
      </div>
      <div class="mb-3">
        <label for="homepage">깃허브 주소:</label>
        <input type="text" class="form-control" id="homepage" name="homepage" value="">
      </div>
      <div class="mb-3 d-flex justify-content-between align-items-center">
        <label class="form-label" for="edu">
          <div class="d-flex">
            <select name="lastedu">
              <option>학력 선택</option>
              <option value="중졸">중학교 졸업</option>
              <option value="고졸">고등학교 졸업</option>
              <option value="대재">대학교 재학</option>
              <option value="대졸예정">대학교 졸업예정</option>
              <option value="대졸">대학교 졸업</option>
              <option value="석사">석사</option>
              <option value="박사">박사</option>
            </select>
            <input type="text" class="form-control" name="edu" id="edu" style="width: 1172px;">
          </div>
        </label>
      </div>
  
      <div class="mb-3">
        <div class="row">
          <div class="col-md-3">
            <label class="checkbox-label">
              {{#skills}}
              <input type="checkbox" name="skill" value="{{index}}">{{skillName}}
              {{/skills}}
          </label>
          </div>
        </div>
      </div>
  
      <div class="mb-3">
        <label class="form-label" for="introduce">자기소개서 :</label>
  
      </div>
      <textarea name="introduce" id="introduce" cols="150" rows="10"></textarea>
      
      <button type="submit" class="btn btn-primary w-100 mb-2" style=" font-size: 0.8rem;">
        수정
      </button>
    </form>
  
  </div>

{{> layout/footer}}
