{{> layout/header}}
<main class="appsug_main">
  <div class="appsug_formmain">
    <section>
      <div class="formsection_top">
        <div class="apply_area">
          <button type="button" class="btn btn-success apply_stsbtn" disabled>
            관심 공고
          </button>
          <div class="container p-1">
            <div class="container-fluid card apply_container">
              <div class="card-body board_card">
                <div class="apply_stsboard">
                  <span><a>공고 제목</a></span>
                  <form action="#">
                    <button type="submit" class="btn btn-danger">삭제</button>
                  </form>
                </div>
              </div>
            </div>
            <div class="container-fluid card apply_container">
              <div class="card-body board_card">
                <div class="apply_stsboard">
                  <span><a>공고 제목</a></span>
                  <form action="#">
                    <button type="submit" class="btn btn-danger">삭제</button>
                  </form>
                </div>
              </div>
            </div>
            <div class="container-fluid card apply_container">
              <div class="card-body board_card">
                <div class="apply_stsboard">
                  <span><a>공고 제목</a></span>
                  <form action="#">
                    <button type="submit" class="btn btn-danger">삭제</button>
                  </form>
                </div>
              </div>
            </div>
            <ul class="pagination justify-content-center apply_stsul">
              <li class="page-item">
                <a class="page-link" href="#">Previous</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="formsection">
        <div class="apply_area">
          <button type="button" class="btn btn-success apply_stsbtn" disabled>
            관심 기업
          </button>
          <div class="container p-1">
            <div class="container-fluid card apply_container">
              <div class="card-body board_card">
                <div class="apply_stsboard">
                  <span><a>기업 이름</a></span>
                  <form action="#">
                    <button type="submit" class="btn btn-danger">삭제</button>
                  </form>
                </div>
              </div>
            </div>
            <div class="container-fluid card apply_container">
              <div class="card-body board_card">
                <div class="apply_stsboard">
                  <span><a>기업 이름</a></span>
                  <form action="#">
                    <button type="submit" class="btn btn-danger">삭제</button>
                  </form>
                </div>
              </div>
            </div>
            <div class="container-fluid card apply_container">
              <div class="card-body board_card">
                <div class="apply_stsboard">
                  <span><a>기업 이름</a></span>
                  <form action="#">
                    <button type="submit" class="btn btn-danger">삭제</button>
                  </form>
                </div>
              </div>
            </div>
            <ul class="pagination justify-content-center apply_stsul">
              <li class="page-item">
                <a class="page-link" href="#">Previous</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
{{> layout/footer}}
