{{> layout/header}}
<div class="join_all">
  <div class="join_title">회원가입</div>
  <form action="/userJoin" method="post" onsubmit="return userValid()">
    <div class="mb-2 mt-3">
      <div class="details">아이디<span class="necessity">필수</span></div>
      <input type="text" class="container join_container " style="width: 300px;" id="userId" placeholder="아이디를 입력해주세요"
        name="userId" onchange="usernameChange()" required />
      <button id="btnJoin" type="submit" class="btn btn-warning" onclick="userCheckin()">
        중복체크
      </button>
    </div>
    <div class="mb-2">
      <div class="details">비밀번호<span class="necessity">필수</span></div>
      <input type="password" class="container join_container" id="pwd" placeholder="비밀번호를 입력해주세요" name="password"
        onchange="pwcheck()" required /><br />
      <span id="pwcheck" style="font-weight: lighter; font-size: x-small">비밀번호는 8~16자 영문/숫자/특수문자를 각1개 포함해야합니다.</span>
    </div>
    <div class="mb-2">
      <div class="details">
        비밀번호 확인<span class="necessity">필수</span>
      </div>
      <input type="password" class="container join_container" id="pwdchk" placeholder="비밀번호를 한번 더 입력해주세요"
        name="passwordchk" onchange="isSame()" required />
      <br /><span id="same"></span>
    </div>
    <div class="mb-2">
      <div class="details">이름<span class="necessity">필수</span></div>
      <input type="name" class="container join_container" id="name" placeholder="이름을 입력해주세요" name="username" required />
    </div>
    <div class="mb-2 join_addarea">
      <div class="join_details">주소</div>
      <div>
        <input type="text" class="container join_box_one" id="address" name="address" readonly />
        <input class="join_addclick" type="button" value="주소 찾기" onclick="Postcode()" />
      </div>
      <br /><input type="text" class="container join_container" id="addressDetail" name="addressDetail"
        placeholder="상세 주소를 입력해주세요" />
    </div>
    <div class="mb-2">
      <div class="details">이메일:</div>
      <input type="email" class="container join_container" id="email" placeholder="이메일을 입력해주세요" name="email" />
    </div>
    <div class="mb-2">
      <div class="details">전화번호:</div>
      <input type="number" class="container join_container" id="phoneNum" placeholder="전화번호를 입력해주세요" name="phoneNum" />
    </div>
    <button type="submit" class="btn btn-primary">회원 가입</button>
  </form>
</div>
{{> layout/footer}}