{{> layout/header}}

<div class="border skyblue">
  <div id="slider-div" style="margin-top: 100px; margin-left: 20px">
    <div class="one">
      <img src="/images/기업4.png" width="400" height="300" alt="기업 이미지" />
    </div>
    <div class="two">
      <img src="/images/기업5.png" width="400" height="300" alt="기업 이미지" />
    </div>
    <div class="three">
      <img src="/images/기업1.png" width="400" height="300" alt="기업 이미지" />
    </div>

    <div class="four">
      <img src="/images/기업2.png" width="400" height="300" alt="기업 이미지" />
    </div>
    <div class="five">
      <img src="/images/기업3.png" width="400" height="300" alt="기업 이미지" />
    </div>
  </div>
  <div id="pager">
    <div class="prev">
      <span>이전</span>
    </div>
    <div class="next">
      <span>다음</span>
    </div>
  </div>
</div>



<div class="container my-2 p-1 text-center">
  <h1>채용공고</h1>
  <div class="index_fourcad" id="ann-div">
    {{#annPG}}
    <div style="width: 300px; height: 300px;">
      <a class="card fourcard_form" style=" width: 300px; height: 300px;" href="#">
        <div style="width: 250px; height: 300px;">
          <img class="Card_fourcard" style="width: 300px; height: 200px;" src="./images/{{#pic}}{{pic}}{{/pic}}.png"
            alt="Card image" />
        </div>
        <div class="card-body">
          <h4 class="card-title">{{title}}</h4>
          <p class="card-text">기업명</p>
        </div>
      </a>
    </div>
    {{/annPG}}

  </div>
  <div id="pager" style="display: flex; justify-content: space-between;">
    <div class="ann-prev">
      <span class="btn btn-primary">이전</span>
    </div>
    <div class="ann-next">
      <span class="btn btn-primary">다음</span>
    </div>
  </div>
</div>

<div class="container my-2 p-1 text-center">
  <h1>추천 기업</h1>
  <div class="index_fourcad" id="comp-div">
    {{#comPG}}
    <div style="width: 300px; height: 300px;">
      <a class="card fourcard_form" style=" width: 300px; height: 300px;" href="#">
        <div style="width: 250px; height: 300px;">
          <img class="Card_fourcard" style="width: 300px; height: 200px;"
            src="./images/{{#picUrl}}{{picUrl}}{{/picUrl}}.png" alt="Card image" />
        </div>
        <div class="card-body">
          <h4 class="card-title">기업명</h4>
          <p class="card-text">기업설명</p>
        </div>
      </a>
    </div>
    {{/comPG}}

  </div>
  <div id="pager" style="display: flex; justify-content: space-between;">
    <div class="comp-prev">
      <span class="btn btn-primary">이전</span>
    </div>
    <div class="comp-next">
      <span class="btn btn-primary">다음</span>
    </div>
  </div>
</div>

{{> layout/footer}}