{{> layout/header}}

<div class="border skyblue" >

    <div id="slider-div" style="margin-top: 100px; margin-left: 20px;">
        <div class="one">
            <img src="/images/기업이미지.png" width="400" height="300" alt="기업 이미지">
            
        </div>
        <div class="two">
            <img src="/images/기업이미지.png" width="400" height="300" alt="기업 이미지">
            
        </div>
        <div class="three">
            <img src="/images/기업이미지.png" width="400" height="300" alt="기업 이미지">
            
        </div>

        <div class="four">
            <img src="/images/기업이미지.png" width="400" height="300" alt="기업 이미지">
            
        </div>
        <div class="five">
            <img src="/images/기업이미지.png" width="400" height="300" alt="기업 이미지">
            
        </div>
    </div>
</div>

<div class="row">
  <div class="col"></div>
  <div class="search-container col">
    <i class="fas fa-search search-icon"></i>
    <input type="text" class="search-input" placeholder="검색어를 입력하세요">
    <button class="search-button">검색</button>
  </div>
  <div class="col"></div>
</div>

<h1>기업목록</h1>
<div class="container mt-3 cads1">
 
  <div class="card index-card">
    <img src="/images/IMG.jpeg" alt="">
    <div class="card-body">
        <h1>기업명</h1><br>
        <h3>설명</h3>
        <a href="#" class="btn btn-primary">상세보기</a>
    </div>
  </div>

  <div class="card index-card">
    <img src="/images/IMG.jpeg" alt="">
    <div class="card-body">
        <h1>기업명</h1><br>
        <h3>설명</h3>
        <a href="#" class="btn btn-primary">상세보기</a>
    </div>
  </div>

  <div class="card index-card">
    <img src="/images/IMG.jpeg" alt="">
    <div class="card-body">
        <h1>기업명</h1><br>
        <h3>설명</h3>
        <a href="#" class="btn btn-primary">상세보기</a>
    </div>
  </div>
</div>

<h1>구직목록</h1>
<div class="container mt-3 cads2">
 
  <div class="card index-card">
    <img src="/images/IMG.jpeg" alt="">
    <div class="card-body">
        <h1>기업명</h1><br>
        <h3>설명</h3>
        <a href="#" class="btn btn-primary">상세보기</a>
    </div>
  </div>

  <div class="card index-card">
    <img src="/images/IMG.jpeg" alt="">
    <div class="card-body">
        <h1>기업명</h1><br>
        <h3>설명</h3>
        <a href="#" class="btn btn-primary">상세보기</a>
    </div>
  </div>

  <div class="card index-card">
    <img src="/images/IMG.jpeg" alt="">
    <div class="card-body">
        <h1>기업명</h1><br>
        <h3>설명</h3>
        <a href="#" class="btn btn-primary">상세보기</a>
    </div>
  </div>
</div>



{{> layout/footer}}