{{> layout/header}}
<div class="buttons">
  <a href="/userJoinForm"
    ><button type="button" class="joinbtn btn btn-primary btn-lg btn-person">
      개인
    </button></a
  >
  <a href="/companyJoinForm"
    ><button type="button" class="joinbtn btn btn-primary btn-lg btn-company">
      기업
    </button></a
  >
</div>

{{> layout/footer}}
