{{> layout/header}}
<div class="listmng">
  <div class="topform">
    <div class="top_title">이력서 스크랩</div>
  </div>

  <div class="boardform">
    <div class="cardform">
      <div class="container-fluid card apply_container">
        <div class="cardform">
          <div class="scrap_title">
            <span><a>이력서 제목</a> (공고 제목)</span>
          </div>
          <div class="cardbtn" style="justify-content: space-between">
            <div class="scrap_workername">구직자 이름</div>
            <div>
              <button
                type="button"
                name="button"
                class="btn text-white updatebtn"
              >
                제안 하기
              </button>
              <button
                type="button"
                name="button"
                class="btn btn-danger deletebtn"
              >
                제안 취소
              </button>
            </div>
          </div>
        </div>

        <div class="cardform">
          <div class="scrap_title">
            <span><a>이력서 제목</a> (공고 제목)</span>
          </div>
          <div class="cardbtn" style="justify-content: space-between">
            <div class="scrap_workername">구직자 이름</div>
            <div>
              <button
                type="button"
                name="button"
                class="btn text-white updatebtn"
              >
                제안 하기
              </button>
              <button
                type="button"
                name="button"
                class="btn btn-danger deletebtn"
              >
                제안 취소
              </button>
            </div>
          </div>
        </div>

        <div class="cardform">
          <div class="scrap_title">
            <span><a>이력서 제목</a> (공고 제목)</span>
          </div>
          <div class="cardbtn" style="justify-content: space-between">
            <div class="scrap_workername">구직자 이름</div>
            <div>
              <button
                type="button"
                name="button"
                class="btn text-white updatebtn"
              >
                제안 하기
              </button>
              <button
                type="button"
                name="button"
                class="btn btn-danger deletebtn"
              >
                제안 취소
              </button>
            </div>
          </div>
        </div>

        <div class="cardform">
          <div class="scrap_title">
            <span><a>이력서 제목</a> (공고 제목)</span>
          </div>
          <div class="cardbtn" style="justify-content: space-between">
            <div class="scrap_workername">구직자 이름</div>
            <div>
              <button
                type="button"
                name="button"
                class="btn text-white updatebtn"
              >
                제안 하기
              </button>
              <button
                type="button"
                name="button"
                class="btn btn-danger deletebtn"
              >
                제안 취소
              </button>
            </div>
          </div>
        </div>

        <div class="cardform">
          <div class="scrap_title">
            <span><a>이력서 제목</a> (공고 제목)</span>
          </div>
          <div class="cardbtn" style="justify-content: space-between">
            <div class="scrap_workername">구직자 이름</div>
            <div>
              <button
                type="button"
                name="button"
                class="btn text-white updatebtn"
              >
                제안 하기
              </button>
              <button
                type="button"
                name="button"
                class="btn btn-danger deletebtn"
              >
                제안 취소
              </button>
            </div>
          </div>
        </div>

        <div class="cardform">
          <div class="scrap_title">
            <span><a>이력서 제목</a> (공고 제목)</span>
          </div>
          <div class="cardbtn" style="justify-content: space-between">
            <div class="scrap_workername">구직자 이름</div>
            <div>
              <button
                type="button"
                name="button"
                class="btn text-white updatebtn"
              >
                제안 하기
              </button>
              <button
                type="button"
                name="button"
                class="btn btn-danger deletebtn"
              >
                제안 취소
              </button>
            </div>
          </div>
        </div>

        <div class="cardform">
          <div class="scrap_title">
            <span><a>이력서 제목</a> (공고 제목)</span>
          </div>
          <div class="cardbtn" style="justify-content: space-between">
            <div class="scrap_workername">구직자 이름</div>
            <div>
              <button
                type="button"
                name="button"
                class="btn text-white updatebtn"
              >
                제안 하기
              </button>
              <button
                type="button"
                name="button"
                class="btn btn-danger deletebtn"
              >
                제안 취소
              </button>
            </div>
          </div>
        </div>
        <ul class="pagination justify-content-center" style="margin-top: 20px">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
{{> layout/footer}}
