{{> layout/header}} 
<div class="container my-5 p-5 border">
    <div class="container">
        <div class="container my-2 d-flex justify-content-between align-items-center hr">
            <div>
                <h5>회사이름</h5>
                <h2>공고 타이틀</h2>
            </div>
            <div>
                    <button type="button" id="apply"class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" onclick="resList()">
                        지원하기
                      </button>
                      
                      <!-- The Modal -->
                      <div class="modal" id="myModal">
                        <div class="modal-dialog">
                          <div class="modal-content">
                      
                            <!-- Modal Header -->
                            <div class="modal-header">
                              <h4 class="modal-title">Modal Heading</h4>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                      
                            <!-- Modal body -->
                            <div class="modal-body">
                              Modal body..
                            </div>
                      
                            <!-- Modal footer -->
                            <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            </div>
                      
                          </div>
                        </div>
                      </div>
                </form>
            </div>
        </div>
        <div class="container">
            <hr>
            <div class="row">
                <div class="col">경력</div>
                <div class="col blue">{{#ann.experience}}{{ann.experience}}{{/ann.experience}}</div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col">급여</div>
                <div class="col">{{#ann.salary}}{{ann.salary}}{{/ann.salary}}</div>
            </div>
            <div class="row ">
                <div class="col">학력</div>
                <div class="col blue">{{#ann.edu}}{{ann.edu}}{{/ann.edu}}</div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col">근무지역</div>
                <div class="col">{{#ann.location}}{{ann.location}}{{/ann.location}}</div>
            </div>
            <div class="row ">
                <div class="col">근무형태</div>
                <div class="col blue">{{#ann.workType}}{{ann.workType}}{{/ann.workType}}</div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
            <hr>
        </div>
        <div>
            <img src="hamberger.jpg">
            <div class="container">
                <h5>접수기간 및 방법</h5>
                <hr>
                <div class="row">
                    <div class="col border text-center p-4">
                        <div>
                            <p class="blue">남은 기간</p><br>
                            <p>남은시간쓰는 자리</p>
                            <p><b class="border">{{#ann.startTime}}{{ann.startTime}}{{/ann.startTime}}</b></p>
                            <p><b class="border">{{#ann.endTime}}{{ann.endTime}}{{/ann.endTime}}</b></p>
                            <div class="container mt-3">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" onclick="resList()">
                            지원하기
                            </button>
                            </div>

<!-- The Modal -->
                        <div class="modal" id="myModal">
                        <div class="modal-dialog">
                            <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title" id="modalTitle"></h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                Modal body..
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            </div>

                            </div>
                        </div>
                        </div>

                        </div>
                    </div>

                    <div class="col bg-gray">
                        <div class="col"><p>지원 방법 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 사람인 입사지원 </p></div>
                        <div class="col"><p>접수 양식 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 제출서류 보기 </p></div>
                    </div>
                    <div class="col bg-gray"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
async function resList() {
    let response = await fetch(`/api/applyRes`)
    let resume = await response.json();
    console.log("+++++++++++++"+resume);
    

    
   
    
}




    
    

</script>

{{> layout/footer}}
