{{> layout/header}}
<div class="all">
    <div class="container">
        <div class="listtitle">채용 공고 관리</div>
        <div class="button">
        <a href="/annSaveForm">
        <button type="button" name="button" class="btn btn-primary" style="float: right; margin-bottom: 7px;"><span style="color: black; font-weight: bold;">+</span>
        채용공고 등록</button>
        </a>
        </div>
      </div>
    {{#annPG}}
    <div class="container">
      <div class="container custom-container d-flex justify-content-between align-items-center">
          <a href="/annDetail">
          <div class="details">채용공고 제목</div>
          </a>
          <div class="d-flex flex-column align-items-center" style="margin-right: 60px;">
            <a href="/annUpdateForm">
            <button type="button" name="button" class="btn text-white w-100 mb-2" style="background-color: orange; font-size: 0.8rem;">Edit</button>
            </a>
            <form action="/annDelete" method="post">
            <button type="button" name="button" class="btn btn-danger w-100" style="font-size: 0.8rem;">Delete</button>
            </form>
            </div>
      </div>
    </div>
    {{/annPG}}

</div>
{{> layout/footer}}