<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/base.css">
    <script src="/src/main/resources/static/js/script.js"></script>


    <link rel="shortcut icon" href="../images/favicon.ico">
    <title>원티드 - 나다운 일의 시작</title>
</head>

<body>
    <div class="container mt-3 ann_insert">
        <div class="ann_start">채용 공고 수정</div>
        <hr>

        <div class="ann_required">
            <div class="ann_formtitle"><span style="color:blue;">필수항목</span>들을 채워주세요</div>
            <div class="ann_type">모집 분야명<span class="necessity">필수</span>
                <input type="text" class="formcontainer" placeholder="ex 프로그램 개발자" name=""><input type="text"
                    class="formcontainer" name=""> 명 모집
            </div>
            <div class="ann_details">
                경력 여부<span class="necessity">필수</span>
                <div style="display: flex; margin-top: 5px;">
                    <input type="checkbox" class="ann_checkbox" name="experience" style="width: 30px;">신입
                    <input type="checkbox" class="ann_checkbox" name="experience" style="width: 30px;">경력
                    <input type="checkbox" class="ann_checkbox" name="experience" style="width: 30px;">경력무관
                </div>
            </div>
            <div class="ann_type">담당업무 <input type="text" class="formcontainer" placeholder="내용을 입력해주세요" name="">
            </div>
        </div>

        <div class="ann_op">
            <div class="ann_formtitle">기술 스택/우대 조건을 선택할 수 있습니다</div>
            <div class="mb-3">
                <div class="skilldropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="classListDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        클래스 선택
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="classListDropdown">
                        <li><a class="dropdown-item class-select" data-class="a">리스트 A</a></li>
                        <li><a class="dropdown-item class-select" data-class="b">리스트 B</a></li>
                        <li><a class="dropdown-item class-select" data-class="c">리스트 C</a></li>
                        <li><a class="dropdown-item class-select" data-class="d">리스트 D</a></li>
                    </ul>
                </div>
            </div>


            <div class="mb-3">
                <div class="row" style="font-size: 18px;">
                    <div class="리스트a">
                        <div class="form-check form-check-inline stack-item">
                            <input class="form-check-input stack_check a" type="checkbox" name="stack1" value="java"
                                id="stack1">
                            <label class="form-check-label" for="stack1">자바</label>
                        </div>
                        <div class="form-check form-check-inline stack-item">
                            <input class="form-check-input stack_check a" type="checkbox" name="stack2" value="C"
                                id="stack2">
                            <label class="form-check-label" for="stack2">C</label>
                        </div>
                        <div class="form-check form-check-inline stack-item">
                            <input class="form-check-input stack_check a" type="checkbox" name="stack3" value="파이썬"
                                id="stack3">
                            <label class="form-check-label" for="stack3">파이썬</label>
                        </div>
                        <div class="form-check form-check-inline stack-item">
                            <input class="form-check-input stack_check a" type="checkbox" name="stack4" value="Go"
                                id="stack4">
                            <label class="form-check-label" for="stack4">Go</label>
                        </div>
                        <div class="form-check form-check-inline stack-item">
                            <input class="form-check-input stack_check a" type="checkbox" name="stack5" value="php"
                                id="stack5">
                            <label class="form-check-label" for="stack5">php</label>
                        </div>
                        <div class="form-check form-check-inline stack-item">
                            <input class="form-check-input stack_check a" type="checkbox" name="stack6" value="Ruby"
                                id="stack6">
                            <label class="form-check-label" for="stack6">Ruby</label>
                        </div>
                        <div class="form-check form-check-inline stack-item">
                            <input class="form-check-input stack_check a" type="checkbox" name="stack7" value="C#"
                                id="stack7">
                            <label class="form-check-label" for="stack7">C#</label>
                        </div>
                        <div class="form-check form-check-inline stack-item">
                            <input class="form-check-input stack_check a" type="checkbox" name="stack8" value="swift"
                                id="stack8">
                            <label class="form-check-label" for="stack8">swift</label>
                        </div>
                        <div class="form-check form-check-inline stack-item">
                            <input class="form-check-input stack_check a" type="checkbox" name="stack9" value="kotlin"
                                id="stack9">
                            <label class="form-check-label" for="stack9">kotlin</label>
                        </div>
                        <div class="form-check form-check-inline stack-item">
                            <input class="form-check-input stack_check a" type="checkbox" name="stack10"
                                value="javascript" id="stack10">
                            <label class="form-check-label" for="stack10">javascript</label>
                        </div>
                    </div>
                    <div class="리스트b">
                        <div class="form-check form-check-inline stack-item">
                            <input class="form-check-input stack_check a" type="checkbox" name="stack11" value="react"
                                id="stack11">
                            <label class="form-check-label" for="stack1">react</label>
                        </div>
                        <div class="form-check form-check-inline stack-item">
                            <input class="form-check-input stack_check a" type="checkbox" name="stack12" value="angular"
                                id="stack12">
                            <label class="form-check-label" for="stack2">angular</label>
                        </div>
                        <div class="form-check form-check-inline stack-item">
                            <input class="form-check-input stack_check a" type="checkbox" name="stack13" value="vue.js"
                                id="stack13">
                            <label class="form-check-label" for="stack3">vue.js</label>
                        </div>
                        <div class="form-check form-check-inline stack-item">
                            <input class="form-check-input stack_check a" type="checkbox" name="stack14"
                                value="ember.js" id="stack14">
                            <label class="form-check-label" for="stack4">ember.js</label>
                        </div>
                        <div class="form-check form-check-inline stack-item">
                            <input class="form-check-input stack_check a" type="checkbox" name="stack15"
                                value="RubyonRails" id="stack15">
                            <label class="form-check-label" for="stack5">RubyonRails</label>
                        </div>
                        <div class="form-check form-check-inline stack-item">
                            <input class="form-check-input stack_check a" type="checkbox" name="stack16" value="node.js"
                                id="stack16">
                            <label class="form-check-label" for="stack6">node.js</label>
                        </div>
                        <div class="form-check form-check-inline stack-item">
                            <input class="form-check-input stack_check a" type="checkbox" name="stack17" value="Django"
                                id="stack17">
                            <label class="form-check-label" for="stack7">Django</label>
                        </div>
                        <div class="form-check form-check-inline stack-item">
                            <input class="form-check-input stack_check a" type="checkbox" name="stack18" value="Flask"
                                id="stack18">
                            <label class="form-check-label" for="stack8">Flask</label>
                        </div>
                        <div class="form-check form-check-inline stack-item">
                            <input class="form-check-input stack_check a" type="checkbox" name="stack19" value="laravel"
                                id="stack19">
                            <label class="form-check-label" for="stack9">laravel</label>
                        </div>
                        <div class="form-check form-check-inline stack-item">
                            <input class="form-check-input stack_check a" type="checkbox" name="stack20"
                                value="Springboot" id="stack10">
                            <label class="form-check-label" for="stack20">Springboot</label>
                        </div>
                    </div>
                    <div class="리스트c">
                        <div class="form-check form-check-inline stack-item">
                            <input class="form-check-input stack_check a" type="checkbox" name="stack21" value="asp.net"
                                id="stack21">
                            <label class="form-check-label" for="stack21">asp.net</label>
                        </div>
                        <div class="form-check form-check-inline stack-item">
                            <input class="form-check-input stack_check a" type="checkbox" name="stack22"
                                value="Express.js" id="stack22">
                            <label class="form-check-label" for="stack22">Express.js</label>
                        </div>
                        <div class="form-check form-check-inline stack-item">
                            <input class="form-check-input stack_check a" type="checkbox" name="stack23" value="mysql"
                                id="stack23">
                            <label class="form-check-label" for="stack23">mysql</label>
                        </div>
                        <div class="form-check form-check-inline stack-item">
                            <input class="form-check-input stack_check a" type="checkbox" name="stack24"
                                value="PostgreSql" id="stack24">
                            <label class="form-check-label" for="stack24">PostgreSql</label>
                        </div>
                        <div class="form-check form-check-inline stack-item">
                            <input class="form-check-input stack_check a" type="checkbox" name="stack25" value="MongoDB"
                                id="stack25">
                            <label class="form-check-label" for="stack25">MongoDB</label>
                        </div>
                        <div class="form-check form-check-inline stack-item">
                            <input class="form-check-input stack_check a" type="checkbox" name="stack26" value="Redis"
                                id="stack26">
                            <label class="form-check-label" for="stack26">Redis</label>
                        </div>
                        <div class="form-check form-check-inline stack-item">
                            <input class="form-check-input stack_check a" type="checkbox" name="stack27" value="SQLite"
                                id="stack27">
                            <label class="form-check-label" for="stack27">SQLite</label>
                        </div>
                        <div class="form-check form-check-inline stack-item">
                            <input class="form-check-input stack_check a" type="checkbox" name="stack28" value="MSSQL"
                                id="stack28">
                            <label class="form-check-label" for="stack28">MSSQL</label>
                        </div>
                        <div class="form-check form-check-inline stack-item">
                            <input class="form-check-input stack_check a" type="checkbox" name="stack29" value="Amazon
                            Web Services" id="stack29">
                            <label class="form-check-label" for="stack29">Amazon
                                Web Services</label>
                        </div>
                        <div class="form-check form-check-inline stack-item">
                            <input class="form-check-input stack_check a" type="checkbox" name="stack30" value="MS
                            Azure" id="stack30">
                            <label class="form-check-label" for="stack30">MS
                                Azure</label>
                        </div>
                    </div>
                    <div class="리스트d">
                        <div class="form-check form-check-inline stack-item">
                            <input class="form-check-input stack_check a" type="checkbox" name="stack31" value="Google Cloud
                            Platform" id="stack31">
                            <label class="form-check-label" for="stack31">Google Cloud
                                Platform</label>
                        </div>
                        <div class="form-check form-check-inline stack-item">
                            <input class="form-check-input stack_check a" type="checkbox" name="stack32" value="Heroku"
                                id="stack32">
                            <label class="form-check-label" for="stack32">Heroku</label>
                        </div>
                        <div class="form-check form-check-inline stack-item">
                            <input class="form-check-input stack_check a" type="checkbox" name="stack33" value="Git"
                                id="stack33">
                            <label class="form-check-label" for="stack33">Git</label>
                        </div>
                        <div class="form-check form-check-inline stack-item">
                            <input class="form-check-input stack_check a" type="checkbox" name="stack34"
                                value="SubVersion" id="stack34">
                            <label class="form-check-label" for="stack34">SubVersion</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ann_type">직급 직책
                <select class="dropdown" id="skill" name="skillList">
                    <option value="#">사원</option>
                    <option value="#">대리</option>
                </select>
            </div>

            <div class="ann_type">필수/우대조건
                <input type="radio" class="form-check-input" id="preference" name="preference">전공/학과
                <input type="radio" class="form-check-input" id="preference" name="preference">외국어
                <input type="radio" class="form-check-input" id="preference" name="preference">근무경험
            </div>
        </div>
        <div class="ann_required">
            <div class="ann_formtitle"><span style="color:blue;">필수항목</span>들을 채워주세요</div>
            <div class="ann_type">지원자 학력<span class="necessity">필수</span>
                <select class="dropdown" id="school" name="school">
                    <option>대학교 졸업(4년)이상</option>
                    <option>전문대 졸업</option>
                </select>
            </div>
            <div class="ann_type">연봉/급여<span class="necessity">필수</span>
                <input type="text" class="formcontainer" id="salary" name="salary">
            </div>
            <div class="ann_type">근무요일
                <select class="dropdown" id="workday" name="workday">
                    <option>주5일</option>
                    <option>주4일</option>
                </select>
            </div>
            <div class="ann_type">근무 시간
                <input type="text" class="formcontainer" id="salary" name="salary">
            </div>
            <div class="ann_type">마감일자<span class="necessity">필수</span>
                <input class="formcontainer" type="date" name="duedate">
            </div>
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary mb-2 finishbtn">
                채용공고 수정
            </button>
        </div>

        
</body>

</html>